{% extends 'base.html' %}

{% block content %}

<div class="ui segment">
    {% if confirm %}
        <div class="ui green message">Your profile has been updated</div>
    {% endif %}
    <h3>{{request.user}}</h3>
    <div class="ui grid">
        <div class='row'>
            <div class='six wide column'>
                <img class="ui medium rounded image" src={{profile.avatar.url}} alt="Profile picture">
                <div class="row mt-5">
                    <button class='ui secondary button' id='modal-btn'>Update your profile</button>
                </div>
            </div>
            <div class="ten wide column">
                <table class="ui table">
                    <tbody>
                        <tr>
                            <td>username</td>
                            <td>{{profile.user}}</td>
                        </tr>
                        <tr>
                            <td>first name</td>
                            <td>{{profile.first_name}}</td>
                        </tr>
                        <tr>
                            <td>last name</td>
                            <td>{{profile.last_name}}</td>
                        </tr>
                        <tr>
                          <td>Location</td>
                          <td>{{profile.location}}</td>
                        </tr>
                        <tr>
                          <td>bio</td>
                          <td>{{profile.bio}}</td>
                        </tr>
                        <tr>
                          <td>Events</td>
                          <td>{{profile.get_calendars_no}}</td>
                        </tr>
                        <tr>
                            <td>Friend List</td>
                            <td>
                                <ul>
                                    {% for friend in profile.get_friends %}
                                        <li>{{friend}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->
<div class="ui modal mymodal">
  <em class="close icon"></em>
  <div class="header">
    Update your Profile
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="{{profile.avatar.url}}" alt="Profile picture">
    </div>
    <div class="description">
      <div class="ui header">Update your info </div>
     <form action="" method="POST" class="ui form" enctype='multipart/form-data'>
        {% csrf_token %}
        {{form.as_p}}
    </div>
  </div>
  <div class="actions">
    <button type='submit' class="ui positive button">
      Update
    </button>
    </form>
  </div>
</div>

{% endblock content %}